h1{
    color: red;
    font-family: "Garamond", sans-serif;
    border:7px solid #FDD017;
    border-radius: 10px;
    padding: .1em;
    font-size:370%;
    font-weight: bold;    
}
h2{
    color: black;
    font-family: "Garamond", sans-serif;
    border:3px solid red;
    border-radius: 10px;
    padding: .1em;
    font-size:170%;
    font-weight: bold;    
}
#main{
    margin-left:160px;   
    font-family:Arial, sans-serif;
    border:solid black;
    border-radius: 1em;
    padding:1em;
    padding-top:0em
}

#category{
    font-family:Arial, sans-serif;
    font-size:85%;
    list-style-type:none;
    float:left;
    margin-left:0px;    
    padding-left:0px;
    width:150px;
}

#category ul{
    padding:0px;
    margin-left:10px;
}

#category ul li{
    list-style-type:none;   
    margin-top:15px;
}
footer{
    font-style:italic;   
}
p{
    font-family: Calibri, sans-serif;
}
caption {
    color:orange;
    border-radius:.7em;
    background-color: blue;
    margin:1em;
}
body {
    margin-left: 2%;
    margin-right: 3%;
    font-family: Calibri, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th{
    color:blue;
    border-radius:.5em;
    background-color: orange;
    margin:3em;
}
table td {
    border: thin solid blue;
}
caption { 
    font-weight: bold; font-size: larger; padding: 0.25em;
}
footer{
    padding:1em;   
}a:link{
    color:blue;
    text-decoration:none;
}

a:visited{
    color:#585858;
}

a:hover{
    color:#2E5151; 
    text-decoration:underline;
}

a:active{
    color: black;   
    background-color: #F3F4F4;
}

.bodylink:link, visited, hover, active{
    text-decoration:underline;
}

#iamhere a,
#iamhere a:link,
#iamhere a:visited,
#iamhere a:hover {
    color: orange; 
}

.news_story {
    padding-top:.7em;
    font-size:80%;
    font-family:Arial, sans-serif;
}

.news_title {
    font-size:110%;
    font-style:italic;
    color:#FDD017;
    font-family:Arial black, sans-serif; 
}

.news_pic {
    float:right;
    border:1px solid #585858;
    padding:.3em;
}

.clearme {
    clear:right;
}

ul {
    list-style-type:none;   
    padding-left:1em;
    margin-left:0em;
}

.news_entry {
    border-radius:1em;
    margin-top:.8em;
    margin-right:2em;
    margin-left:1em;
    border:1px solid red;    
    padding-top:.7em;
    padding-right:1em;
    background-color:white;   
}

hr{
    opacity:0;
}