h1{
    font-family: Arial, sans-serif;
    font-size: 270%;
    color: #527578;
    border:3px solid #84978f;
    border-radius: 10px;
    padding: 1em;
    background-color: #B3B1B2;
}

h2{
    color: #ADA692;
    font-family: fantasy, sans-serif;
    font-size: 210%;
}

h3{
    color: #84978f;
    font-family:  Tahoma, sans-serif;
    font-size: 170%;
    padding: .2em;
}

p{
    font-family: Verdana, sans-serif;    
}

li{
    font-family: Tahoma, sans-serif;
    padding: .2em; 
}

a {
    color: #747474;     
}

footer{
    font-family: Arial, sans-serif;    
}

